<ion-header class="top">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h4>Item Detail</h4>
        </ion-text>
      </ion-col>
      <ion-col (click) = "DismissModel()" size = "2">
        <ion-icon name="close" class="headerIcons" color="dark"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src = {{image}}></ion-img>

      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="primary">
                <ion-text color="light" (click) = "AddToCart()">Add to Cart</ion-text>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="success">
                <ion-text color="light" (click) = "Purchase()">Purchase</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-subtitle>

      <ion-card-title color = "warning">{{name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="bodyText">
      <p>{{description}}</p>
      <br>
      
      <ion-grid style="padding-left: 0px; padding-right: 0px;">
        <ion-row>

          <ion-col size = "2" style="padding-left: 0px; padding-right: 0px;">
            <ion-card color = "light">
              <ion-card-header class="checkBox">
                <ion-checkbox color="warning" (click) = "SelectItemSizes(0);" disabled="{{disableStock[0]}}"></ion-checkbox>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header class="checkBox">
                <ion-checkbox color="warning" (click) = "SelectItemSizes(1);" disabled="{{disableStock[1]}}"></ion-checkbox>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header class="checkBox">
                <ion-checkbox color="warning" (click) = "SelectItemSizes(2);" disabled="{{disableStock[2]}}"></ion-checkbox>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col style="padding-left: 0px; padding-right: 0px;">
            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5>Small</h5>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5>Medium</h5>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5>Large</h5>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col size = "4" style="padding-left: 0px; padding-right: 0px;">
            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5 *ngIf="size_small != 0 else notAvailable">$ {{size_small}}</h5>
                    <ng-template #notAvailable>
                      <h5>No Stock</h5>
                    </ng-template>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5 *ngIf="size_medium != 0 else notAvailable">$ {{size_medium}}</h5>
                    <ng-template #notAvailable>
                      <h5>No Stock</h5>
                    </ng-template>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

            <ion-card color = "light">
              <ion-card-header>
                <ion-card-title>
                  <ion-text color="dark">
                    <h5 *ngIf="size_large != 0 else notAvailable">$ {{size_large}}</h5>
                    <ng-template #notAvailable>
                      <h5>No Stock</h5>
                    </ng-template>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>