.top{
    background-color: #ffcc00;
    font-family: 'assets/Fonts/Precious.ttf';
}

.grid{
    padding-top: 0px;
    padding-bottom: 0px;
}

h4{
    padding-left: 25px;
}

.bodyText{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.checkBox {
    padding: 15px 0px 14px 0px;
}