<ion-header class="top">
  <ion-grid class="grid">
    <ion-row>
      <ion-col (click) = "DismissModel()" size = "2">
        <ion-icon name="chevron-back" class="headerIcons" color="dark"></ion-icon>
      </ion-col>
      <ion-col size = "2">
        <ion-text color="dark">
          <h4>Cart</h4>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-searchbar animated color="dark"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <!-- SPINNER -->
  <div *ngIf = "isLoading else apiCallFinished">
    <ion-spinner name="bubbles" class="spinner"></ion-spinner>
  </div>
  <ng-template #apiCallFinished>
    <!-- NO ITEMS -->
    <div *ngIf = "cartItemArray.length === 0 else haveItem">
      <ion-text color="warning">
        <h1 class="noItem">NO ITEMS IN THE LIST</h1>
      </ion-text>
      <ion-button expand="block" color="dark" class="backToHome">
        <ion-text color="warning" (click) = "DismissModel()">HOME</ion-text>
      </ion-button>
    </div>
    <!-- CART LIST -->
    <ng-template #haveItem>
      <ion-list>
        <ion-item *ngFor = "let cart of cartItemArray">
          <ion-avatar slot="start">
            <img [src] = "cart.image">
          </ion-avatar>
          <ion-label>
            <h2>{{cart.name}}</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, {{cartItemArray.length}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  <ng-template>
<ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
        console.log(item);
      });
    });
  }
</script>