.top{
    background-color: #ffcc00;
    font-family: 'assets/Fonts/Precious.ttf';
}

.grid{
    padding-top: 0px;
    padding-bottom: 0px;
}

h4{
    font-weight: 20px;
    font-weight: bolder;
}

.spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.noItem{
    text-align: center;
    margin-top: 200px;
    font-family: 'assets/Fonts/Precious.ttf';
}

.backToHome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 100px;
}

.item{
    background-color: #ffcc00;
}

.btn{
    display: block;
    --border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.txt{
    text-align: center;
    font-weight: bold;
}

ion-col p{
    padding-top: 17px;
}