<ion-header class="top">
  <ion-grid class="grid">
    <ion-row>
      <ion-col (click) = "DismissModel()" size = "2">
        <ion-icon name="chevron-back" class="headerIcons" color="dark"></ion-icon>
      </ion-col>
      <ion-col size = "2">
        <ion-text color="dark">
          <h4>Cart</h4>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="dark">
          <ion-text color="warning">PURCHASE</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <!--FAB BTN-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>{{totalCartPrize}}/=</ion-fab-button>
  </ion-fab>

  <!-- SPINNER -->
  <div *ngIf = "isLoading else apiCallFinished"> 
    <ion-spinner name="bubbles" class="spinner"></ion-spinner>
  </div>
  <ng-template #apiCallFinished>

    <!-- NO ITEMS -->
    <div *ngIf = "cartItemArray.length === 0 else haveItem">
      <ion-text color="warning">
        <h1 class="noItem">NO ITEMS IN THE LIST</h1>
      </ion-text>
      <ion-button expand="block" color="dark" class="backToHome">
        <ion-text color="warning" (click) = "DismissModel()">HOME</ion-text>
      </ion-button>
    </div>

    <!-- CART LIST -->
    <ng-template #haveItem>

      <ion-card *ngFor = "let cart of cartItemArray; let i = index" [attr.data-index]="i">
        <img [src] = "cart.image">

        <ion-item>
          <ion-label><b>{{cart.name}}</b></ion-label>
          <ion-button expand="block" color="danger" slot="end">
            <ion-text color="light" (click) = "RemoveProduct(i)">Remove</ion-text>
          </ion-button>
        </ion-item>
      
        <ion-card-content style="padding: 2px;">

          <ion-grid style="padding: 0px 0px 2px 0px;">
            <ion-row>
              <ion-col size = "5" style="padding: 0px;">
                <p>Quantity:</p>
              </ion-col>

              <ion-col style="padding: 0px 2px 0px 0px;">
                <ion-grid style="padding: 0px;">
                  <ion-row>

                    <ion-col style="padding: 0px;" size = "3">
                      <ion-button class="btn" color = "warning" (click) = "ChangeProductQuantity(i, -1)">-</ion-button>
                    </ion-col>

                    <ion-col color = "dark" style="padding: 0px;">
                      <ion-input type="number" value={{cart.quantity}} class="txt" readonly></ion-input>
                    </ion-col>

                    <ion-col style="padding: 0px;" size = "3">
                      <ion-button class="btn" color = "warning" (click) = "ChangeProductQuantity(i, 1)">+</ion-button>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-col>

            </ion-row>
          </ion-grid>

          <p>Size: <b>{{cart.size}}</b></p>
          <p>Unit Price : <b>{{cart.unitPrice}}</b></p>
          <p>Total Price: <b>{{CalculateTotalPricePerItem(cart.unitPrice, cart.quantity)}}</b></p>

        </ion-card-content>
      </ion-card>

    </ng-template>
  <ng-template>
<ion-content>