<ion-content>
    <ion-grid *ngFor = "let item of global.selectedProduct; let i = index" [attr.data-index]="i">
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src={{item.image}}>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-text color = "dark">
                    <h6 class="name"><b>{{item.name}}</b></h6>
                </ion-text>
                <ion-text color = "dark" *ngIf="item.quantity[0] != 0 && item.size_small != 0">
                    <h6>Small: {{item.size_small}} x {{item.quantity[0]}}</h6>
                </ion-text>
                <ion-text color = "dark" *ngIf="item.quantity[1] != 0 && item.size_medium != 0">
                    <h6>Medium: {{item.size_medium}} x {{item.quantity[1]}}</h6>
                </ion-text>
                <ion-text color = "dark" *ngIf="item.quantity[2] != 0 && item.size_large != 0">
                    <h6>Large: {{item.size_large}} x {{item.quantity[2]}}</h6>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h6>Products:</h6>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text color="warning">
                        <h6 class="amount">$ {{subTotal}}</h6>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h6>Tax:</h6>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text color="warning">
                        <h6 class="amount">$ {{tax}}</h6>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h6>Shipping:</h6>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text color="warning">
                        <h6 class="amount">$ {{global.shipping}}</h6>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-text color="dark">
                        <h3>Total:</h3>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text color="warning">
                        <h3 class="amount">$ {{total}}</h3>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>

    <ion-button expand="block" color="warning" style="margin-top: 15px;">
        <ion-text color="light" (click) = "Purchase()">PURCHASE</ion-text>
    </ion-button>
</ion-content>