.formLabel{
    padding: 5px 0px 0px 30px;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4{
    font-family: 'assets/Fonts/Precious.ttf';
    font-size: small;
    text-align: center;
}

.header{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-family: 'assets/Fonts/Precious.ttf';
    font-size: large;
    text-align: center;
}

.close{
    padding: 10px 0px 10px 0px;
    width: 30px;
    height: 30px;
}