<ion-header>
  <ion-text color="light">
    {{global.categoryName}}
  </ion-text>
</ion-header>

<ion-content>
  <ion-list>
    <!-- SPINNER -->
    <div *ngIf = "isLoading else apiCallFinished"> 
      <ion-spinner name="bubbles" class="spinner"></ion-spinner>
    </div>
    <ng-template #apiCallFinished>

      <!-- NO ITEMS -->
      <div *ngIf = "itemArray.length === 0 else haveItem">
        <ion-text color="warning">
          <h1 class="noItem">NO ITEMS IN THE LIST</h1>
        </ion-text>
        <ion-button expand="block" color="dark" class="backToHome">
          <ion-text color="warning" (click) = "DismissModel()">HOME</ion-text>
        </ion-button>
      </div>

      <!-- CART LIST -->
      <ng-template #haveItem>
        <ion-grid>
          <ion-row *ngFor = "let item of itemArray; let i = index" [attr.data-index]="i">
            <ion-col *ngIf="i % 2 == 0">
              <img [src]="item.image">

              <ion-text color = "dark">
                <h4>{{item.name}}</h4>
              </ion-text>

              <ion-button expand="block" color="warning">
                <ion-text color="light" (click)="ViewItem(i)">View</ion-text>
              </ion-button>
            </ion-col>
    
            <ion-col *ngIf="i % 2 == 0 && i < itemArray.length - 1 else emptyCell">
              <img [src]="itemArray[i+1].image">

              <ion-text color = "dark">
                <h4>{{itemArray[i+1].name}}</h4>
              </ion-text>
              
              <ion-button expand="block" color="warning">
                <ion-text color="light" (click)="ViewItem(i + 1)">View</ion-text>
              </ion-button>
            </ion-col>
    
            <ng-template #emptyCell>
              <ion-col></ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ng-template>
      
    </ng-template>

  </ion-list>
</ion-content>