<ion-header>
  <ion-text color="dark">
    {{global.categoryName}}
  </ion-text>
</ion-header>

<ion-content>
  <ion-list>
    <!-- SPINNER -->
    <div *ngIf = "isLoading else apiCallFinished"> 
      <ion-spinner name="bubbles" class="spinner"></ion-spinner>
    </div>
    <ng-template #apiCallFinished>

      <!-- NO ITEMS -->
      <div *ngIf = "itemArray.length === 0 else haveItem">
        <ion-text color="warning">
          <h1 class="noItem">NO ITEMS IN THE LIST</h1>
        </ion-text>
        <ion-button expand="block" color="dark" class="backToHome">
          <ion-text color="warning" (click) = "DismissModel()">HOME</ion-text>
        </ion-button>
      </div>

      <!-- CART LIST -->
      <ng-template #haveItem>
        <ion-grid *ngFor = "let item of itemArray; let i = index" [attr.data-index]="i">
          <ion-row (click)="ViewItem(item.id, item.name, item.image, item.size, item.unitPrice, item.description)">
            <ion-col>
              <ion-card>
                <img src={{item.image}}>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-text color = "dark">
                <h4>{{item.name}}</h4>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
      
    </ng-template>

  </ion-list>
</ion-content>