.salesBanner{
    width: 100%;
}

h5, h6{
    font-family: 'assets/Fonts/Precious.ttf';
    padding-left: 15px;
    font-weight: bold;
}

.categoryName{
    font-family: 'assets/Fonts/Precious.ttf';
    font-weight: bold;
    font-size: small;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}